.container {
  padding: 30px;
  color: #fff;
  background-color: #0f0f0f;
  min-height: 100vh;
}

.errorList {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.fixBtn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #2d16f9;
  border: none;
  border-radius: 6px;
  color: white;
}
